
@{
    ViewBag.Title = "Index";
}
<style>
    body {
        counter-reset: Serial; /* Set the Serial counter to 0 */
    }

    table {
        border-collapse: separate;
    }

    .auto-index td:first-child:before {
        counter-increment: Serial; /* Increment the Serial counter */
        content: "" counter(Serial); /* Display the counter */
    }
    .grid-first .g_panel .g_title {
        background-color: #001023;
    }

    .row {
        margin-left: -16px;
    }

    .g_title .h-transaction h2 {
        padding-top: 1%;
        /*padding-bottom:1%;*/
    }

    .table-responsive {
        background-color: #001023;
    }

    .g_panel .g_content {
        border-color: #001023;
    }

</style>

<div class="row grid-first" id="collapse-grid1">
   
        <div class="g_panel">
            <div style="margin-top:7px">
                @*<a href='@Url.Action("Create", "Degrees")' class="btn btn-primary">Add New</a>*@
            </div>
        </div>

        <div class="g_panel">

            <div class="g_title" style="padding:0px; margin-top:5px">
                <div class="h-transaction pull-center" style="align-items:center">
                    <h2 style="text-align:center;text-decoration:underline;color:white">Profile</h2>

                </div>            
                <div class="collapse-btn pull-right">
                    <a class="collapse-link" data-toggle="collapse" href="#collapse-1" data-parent="#collapse-grid1"><i class="fa fa-chevron-down"></i></a>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="g_content collapse in" id="collapse-1" style="margin:0px">
                <div class="table-responsive">
                    <div class="auto-index">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings" style="background-color:#e2e0d4 !important">
                                    <th>Sr#</th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.tblUserType.userType)*@
                                        @Html.Label("Type:")
                                    </th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.userName)*@
                                        @Html.Label("Name:")
                                    </th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.cnic)*@
                                        @Html.Label("Cnic:")
                                    </th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.phone)*@
                                        @Html.Label("Phone no:")
                                    </th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.email)*@
                                        @Html.Label("Email:")
                                    </th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.address)*@
                                        @Html.Label("Address:")
                                    </th>
                                    <th>
                                        @*@Html.DisplayNameFor(model => model.profilePic)*@
                                        @Html.Label("Profile Pic:")
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.abc)
                                {
                                    <tr>
                                        <td></td>
                                        <td>
                                            @item.userType


                                        </td>
                                        <td>
                                            @item.userName
                                            @*@Html.DisplayFor(modelItem => item.userName)*@
                                        </td>
                                        <td>
                                            @item.cnic
                                            @*@Html.DisplayFor(modelItem => item.cnic)*@
                                        </td>
                                        <td>
                                            @item.phone
                                            @*@Html.DisplayFor(modelItem => item.phone)*@
                                        </td>
                                        <td>
                                            @item.email
                                            @*@Html.DisplayFor(modelItem => item.email)*@
                                        </td>
                                        <td>
                                            @item.address
                                            @*@Html.DisplayFor(modelItem => item.address)*@
                                        </td>
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.profilePic)*@
                                            <img src="~/img/@item.profilePic" width="100" height="100" />


                                        </td>
                                        <td>

                                            @Html.ActionLink("Edit", "Edit", new { Id = item.id }, new { @class = "btn btn-warning" })
                                          
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
   
</div>
