@model DAL.tblDegree

@{
    ViewBag.Title = "Details";
}
<div role="tabpanel" class="tab-pane" id="profile">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Details</h3>
        </div>
        <div class="panel-body">
            <div class="row user_profile">

                <!-- Text input-->
                <div class="col-sm-3">
                    @Html.Label("Degree Name:")
                </div>
                <div class="col-sm-9" style="margin-bottom: 10px;">

                    @Html.DisplayFor(model => model.degreeName)


                </div>
                <!-- Text input-->

                <div class="col-sm-3">
                    @Html.Label("Created By:")
                </div>


                <div class="col-sm-9" style="margin-bottom: 10px;">
                    @Html.DisplayFor(model => model.createdBy)
                </div>

                <!-- Text input-->
                <div class="col-sm-3">
                    @Html.Label("Created On:")
                </div>
                <div class="col-sm-9" style="margin-bottom: 10px;">

                    @Html.DisplayFor(model => model.createdOn)
                </div>


                <!-- Prepended text-->
                @*<div class="col-sm-3">
                        @Html.Label("Updated By:")
                    </div>

                    <div class="col-sm-9 " style="margin-bottom: 10px;">

                        @Html.DisplayFor(model => model.updatedBy)
                        <p>no val yet</p>

                    </div>*@
                <!-- Text input-->
                @*<div class="col-sm-3">
                        @Html.Label("Updated On:")
                    </div>

                    <div class="col-sm-9 " style="margin-bottom: 10px;">

                        @Html.DisplayFor(model => model.updatedOn)
                        <p>no val yet</p>

                    </div>*@
                <!-- Text input-->
                @*<div class="col-sm-3 control-label">
                        @Html.Label("Status:")
                    </div>
                    <div class="col-sm-9 " style="margin-bottom: 10px;">
                        @Html.DisplayFor(model => model.status)


                    </div>*@
            </div>
        </div>
        <div class="panel-footer">
            <div class="btn btn-sm btn-warning" style="font-size:small; color:green">
                @Html.ActionLink("Edit", "Edit", new { id = Model.degreeID })
            </div>
            |
            <div class="btn btn-sm btn-success" style="font-size:small; color:green">
                @Html.ActionLink("Back", "Index")
            </div>
        </div>
    </div>
</div>



